
.container {
    position: relative;
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container i {
    position: absolute;
    inset: 0;
    border: 2px solid #fff;
    transition: 0.5s;
}

/* Add hover effect for individual circles */
.container:hover i {
    border: 6px solid var(--clr);
    filter: drop-shadow(0 0 20px var(--clr));
}


.container i:nth-child(1) {
    border-radius: 43% 57% 74% 26%/ 44% 30% 70% 56%;
    animation: animate 6s linear infinite;
}


.container i:nth-child(2) {
    border-radius: 62% 38% 42% 58%/ 52% 38% 62% 48%;
    animation: animate 4s linear infinite;
}


.container i:nth-child(3) {
    border-radius: 44% 56% 42% 58%/ 37% 65% 35% 63%;
    animation: animate2 10s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@keyframes animate2 {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}